<!DOCTYPE html>
<html>
  <head>
    <title>My Site</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <h2>デフォルトでの生成フォーム</h2>
    {{ expense_form.as_p }}
    <hr />

    <h2>デフォルトでグループ化した生成フォーム</h2>
    {{ grouped_expense_form.as_p }}

    <hr />

    <h2>モデルフォーム</h2>
    {{ expense_model_form.as_p }}

    <hr />

    <h2>グループ化したモデルフォーム</h2>
    {{ grouped_expense_model_form.as_p }}
  </body>
</html>
